extends _layouts/base

include _modules/link/link

block content
  .info-container
    .info-box
      h2
        a(href='https://www.facebook.com/events/1062498357132335/?active_tab=highlights') Weekly JavaScript Challenge
          br
          | Week 4
      hr
      h1 Giphy.com Search Engine
  hr
  .challenge-container
    .search-container
      form
        h3 Search Giphy:
        input(type="search" id="searchField" name="giphysearch")
    .result-container
      h3#searchState Please enable JavaScript to search Giphy.com
    
  footer
    p 
      a(href='http://giphy.com') Powered By Giphy
    a(href='https://github.com/MikeLDJ') &copy 2016 MikeLDJ
