extends _layouts/base

include _modules/link/link

block content
  .info-container
    .info-box
      h2
        a(href='https://www.facebook.com/events/1112826942122943/?active_tab=highlights') Weekly JavaScript Challenge
          br
          | Week 3
      hr
      h1 Local Storage
  hr
  .challenge-container
  
    form
      h3 Payment form
      p Note: All Fields Are Required
      section
        h4 Contact information
        fieldset
          legend Title
          .customer-title
            ul
              li
                label(for="titleMs")
                  input(type="radio" id="titleMs" name="title" value="Ms.")
                  | Miss
              li
                label(for="titleM")
                  input(type="radio" id="titleM" name="title" value="M.")
                  | Mister
              li
                label(for="titleCompany")
                  input(type="radio" id="titleCompany" name="title" value="Company")
                  | Company
        fieldset
          legend Address
          .customer-person
            p
              label(for="firstname")
                span First Name:
                input(type="text" id="firstname" name="firstname")
              label(for="lastname")
                span Last Name:
                input(type="text" id="lastname" name="lastname")
            p
              label(for="street")
                span Street:
                input(type="text" id="street" name="street")
            p
              label(for="postal")
                span Postal Code:
                input(type="text" id="postal" name="postal")
              label(for="city")
                span City:
                input(type="text" id="city" name="city")
          .customer-company
            p
              label(for="company")
                span Company Name:
                input(type="text" id="company" name="company")
              label(for="vatId")
                span VAT ID:
                input(type="text" id="vatId" name="vatId")
            p
              label(for="street")
                span Street:
                input(type="text" id="street" name="street")
            p
              label(for="postal")
                span Postal Code:
                input(type="text" id="postal" name="postal")
              label(for="city")
                span City:
                input(type="text" id="city" name="city")
        fieldset
          legend Invoice
          .invoice-state
            p
              label(for="amount")
                span Amount:
                input(type="text" id="amount" name="amount")
            ul
              li
                label(for="invoicePrinted")
                  input(type="radio" id="invoicePrinted" name="title" value="invoicePrinted")
                  | Invoice Printed
              li
                label(for="invoicePaid")
                  input(type="radio" id="invoicePaid" name="title" value="invoicePaid")
                  | Invoice Paid
              li
                label(for="invoiceLate")
                  input(type="radio" id="invoiceLate" name="title" value="invoiceLate")
                  | Invoice Late
              li
                label(for="invoiceDelivered")
                  input(type="radio" id="invoiceDelivered" name="title" value="invoiceDelivered")
                  | Invoice Delivered
      .update-info
        p Last Updated On: 
          span#lastUpdated Never Updated
  

  .footer
    footer
      a(href='https://github.com/MikeLDJ') &copy 2016 MikeLDJ
        
