extends _layouts/base

include _modules/link/link

block content
  .info-container
    .info-box
      h2
        a(href='https://www.facebook.com/events/1112826942122943/?active_tab=highlights') Weekly JavaScript Challenge
          br
          | Week 3
      hr
      h1 Local Storage
  hr
  .challenge-container
  
    form
      h3 Payment Form
      hr
      section
        p.note Note: All Fields Are Required
        fieldset
          legend Title
          .customer-title
            ul
              li
                input(type="radio" id="titlePerson" name="title" value="Person" checked)
                label(for="titlePerson")
                  span
                  | Person
              li
                input(type="radio" id="titleCompany" name="title" value="Company")
                label(for="titleCompany")
                  span
                  | Company
        fieldset
          legend Address
          .customer-person
            label(for="firstname")
              span First Name:
              input(type="text" id="firstname" name="firstname")
            label(for="lastname")
              span Last Name:
              input(type="text" id="lastname" name="lastname")
          .customer-company
            label(for="company")
              span Company:
              input(type="text" id="company" name="company")
            label(for="vatId")
              span VAT ID:
              input(type="text" id="vatId" name="vatId")
          .customer-address
            label(for="street")
              span Street:
              input(type="text" id="street" name="street")
            label(for="postal")
              span Postal Code:
              input(type="text" id="postal" name="postal")
            label(for="city")
              span City:
              input(type="text" id="city" name="city")
        fieldset
          legend Invoice
          .invoice-state
            p
              label(for="amount")
                span Amount:
                input(type="number" id="amount" name="amount")
            ul
              li
                input(type="radio" id="invoicePrinted" name="invoice" value="invoicePrinted")
                label(for="invoicePrinted")
                  span
                  | Invoice Printed
              li
                input(type="radio" id="invoicePaid" name="invoice" value="invoicePaid")
                label(for="invoicePaid")
                  span
                  | Invoice Paid
            ul
              li
                input(type="radio" id="invoiceLate" name="invoice" value="invoiceLate")
                label(for="invoiceLate")
                  span
                  | Invoice Late
              li
                input(type="radio" id="invoiceDelivered" name="invoice" value="invoiceDelivered")
                label(for="invoiceDelivered")
                  span
                  | Invoice Delivered
      .update-info
        p#autoSaveInfo This Form is Auto-Saved
        p Last Updated On: 
          span#lastUpdated Never Updated
  

  .footer
    footer
      a(href='https://github.com/MikeLDJ') &copy 2016 MikeLDJ
