extends _layouts/base

include _modules/link/link

block content
  .info-container
    .info-box
      h2
        a(href='https://www.facebook.com/events/1112826942122943/?active_tab=highlights') Weekly JavaScript Challenge
          br
          | Week 3
      hr
      h1 Local Storage of Form Fields
  hr
  .challenge-container

  footer
    a(href='https://github.com/MikeLDJ') &copy 2016 MikeLDJ
        
