extends _layouts/base

include _modules/link/link

block content
  .info-container
    .info-box
      h2
        a(href='https://www.facebook.com/events/1091460824257459/?active_tab=highlights') Weekly JavaScript Challenge
          br
          | Week 2
      hr
      h1 Length Conversion
  hr
  .challenge-container
    .input-length
      .value
        input(type='text', class='input-value', placeholder='enter length')
      form
        table
          tr
            td
              input(type='radio', name='len-in', value='some', id='in-milimeters', checked)
              label(for='in-milimeters') Milimeters
            td
              input(type='radio', name='len-in', value='some', id='in-centimeters')
              label(for='in-centimeters') Centimeters
            td
              input(type='radio', name='len-in', value='some', id='in-decimeters')
              label(for='in-decimeters') Decimeters
          tr
            td
              input(type='radio', name='len-in', value='some', id='in-meters')
              label(for='in-meters') Meters
            td
              input(type='radio', name='len-in', value='some', id='in-kilometers')
              label(for='in-kilometers') Kilometers
            td
              input(type='radio', name='len-in', value='some', id='in-inches')
              label(for='in-inches') Inches
          tr
            td
              input(type='radio', name='len-in', value='some', id='in-feet')
              label(for='in-feet') Feet
            td
              input(type='radio', name='len-in', value='some', id='in-yards')
              label(for='in-yards') Yards
            td
              input(type='radio', name='len-in', value='some', id='in-miles')
              label(for='in-miles') Miles
            td
    .output-length
      .result result
      form
        table
          tr
            td
              input(type='radio', name='len-out', value='some', id='out-milimeters', checked)
              label(for='out-milimeters') Milimeters
            td
              input(type='radio', name='len-out', value='some', id='out-centimeters')
              label(for='out-centimeters') Centimeters
            td
              input(type='radio', name='len-out', value='some', id='out-decimeters')
              label(for='out-decimeters') Decimeters
          tr
            td
              input(type='radio', name='len-out', value='some', id='out-meters')
              label(for='out-meters') Meters
            td
              input(type='radio', name='len-out', value='some', id='out-kilometers')
              label(for='out-kilometers') Kilometers
            td
              input(type='radio', name='len-out', value='some', id='out-inches')
              label(for='out-inches') Inches
          tr
            td
              input(type='radio', name='len-out', value='some', id='out-feet')
              label(for='out-feet') Feet
            td
              input(type='radio', name='len-out', value='some', id='out-yards')
              label(for='out-yards') Yards
            td
              input(type='radio', name='len-out', value='some', id='out-miles')
              label(for='out-miles') Miles
  footer
    a(href='https://github.com/MikeLDJ') &copy 2016 MikeLDJ
        
